
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom global styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #DBE8EB; /* White background */
  color: #4A4A4A; /* Dark Gray text */
}

swiper-container { 
  height: 540px;  
  
}